.carousel{
    padding: 50px;
}
.carousel img{
    height: 60vh;
    width: 60vw;
    border-radius: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.title{
    padding-top: 50px;
    text-align: center;
    color: white;
}
.title span{
    color: green;
}
/*  */
/* @media only screen and (max-width: 1200px) {
    .carousel img {
        margin-left: 30px;
    }
  } */